body {
    font-family:"Poppins";
    font-weight: 300;
    margin:0px;
    padding:0px;
}
h1 {
    font-size: 4em;
    font-weight: 500;
    color:gainsboro;
}

#background {
    position: absolute;
    height:100vh;
    overflow:hidden;
    padding: 0px;
    left:0;
    z-index: -1;
}

#main {
    display:flex;
    flex-direction: column;
}
#title{
    height:100vh;
    align-content: flex-end;
}
#title h1 {
    margin: 100px;
}

#title * {
    padding: 0px 5px;
}
#title h1 {
    font-weight: 300; 
}

#mainImg {
    max-width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 800px){
    #menu-container {
        position:initial;
        flex-direction:column;
    }
    #main {
        position: static;
        z-index: 0;
        height: auto;
    }
    #title {
        justify-content: center;
    }
    #menu {
        margin-top: 0px;
        flex-direction: column;
    }
    #logo {
        margin-left: auto;
        margin-right: auto;
    }
    #mainImg {
        max-width:none;
        max-height: 60vh;
        left: 0;
    }
    .menuOpt, .menuOpt a {
        padding: 0px
    }
}
